In [61]:
from bokeh.layouts import column
import pandas as pd 
data = pd.read_csv("extract.csv")
from bokeh.models import ColumnDataSource
from bokeh.plotting import figure, show
from bokeh.palettes import Spectral5, Category20c
from bokeh.resources import CDN

In [3]:
bf = data.groupby(["SquareFeet","Category","Address"])["Price"].sum()
f = pd.Series(bf).reset_index(name="Price")
f

,SquareFeet,Category,Address,Price
0,47,House13,1 BHK House for sale in Nagarjuna Sagar Dam...,17
1,48,House5,1 BHK House for sale in Choutuppal Nalgonda,45
2,83,House14,1 BHK House for sale in R.P. Road Nalgonda,35
3,180,House8,3 BHK House for sale in Nalgonda,76
4,200,House9,2 BHK House for sale in R.P. Road Nalgonda,47
5,216,House10,5 BHK House for sale in Ramgiri Nalgonda,60
6,217,House11,2 BHK House for sale in Nalgonda,70
7,255,House7,3 BHK House for sale in Srisailam Road Nalg...,50
8,882,House2,4 BHK House for sale in Suryapet Nalgonda,55
9,1000,House12,2 BHK House for sale in R.P. Road Nalgonda,62
10,1600,House15,3 BHK House for sale in Ramgiri Nalgonda,88
11,1660,House1,3 BHK House for sale in R.P. Road Nalgonda,60
12,1915,House3,4 BHK House for sale in Kodad Nalgonda,80
13,2169,House6,2 BHK House for sale in Miryalaguda Nalgonda,46
14,2800,House4,4 BHK House for sale in Miryalaguda Nalgonda,60

In [5]:
f1 = f["Category"].tolist()
f1

['House13',
 'House5',
 'House14',
 'House8',
 'House9',
 'House10',
 'House11',
 'House7',
 'House2',
 'House12',
 'House15',
 'House1',
 'House3',
 'House6',
 'House4']

In [6]:
f3 = f["SquareFeet"].tolist()
f3

[47, 48, 83, 180, 200, 216, 217, 255, 882, 1000, 1600, 1660, 1915, 2169, 2800]

In [8]:
f2 = f["Price"].tolist()
f2

[17, 45, 35, 76, 47, 60, 70, 50, 55, 62, 88, 60, 80, 46, 60]

In [54]:
import numpy as np
h = np.arange(10, 100, 10)

In [60]:
source = ColumnDataSource(data=dict(f1 = f1, f2 = f2, f3=f3, color=Category20c[len(f1)]))

gf = figure(x_range=f1, width=1300, height=610, toolbar_location=None,
            tools="hover", tooltips="@f1,@f3 sqft : @f2 Lac", title="prices of houses")

gf.vbar(x="f1", top="f2", width=0.6, color="color", legend_field="f1", source=source)

gf.grid.grid_line_alpha = 0
gf.legend.orientation = "horizontal"
gf.legend.location = "top_center"

show(gf)

In [66]:
CDN