In [15]:
import pandas as pd
from math import pi
hari = pd.read_excel("HARISH TASK.xlsx", parse_dates=["START DATE"])
from bokeh.plotting import figure, show, output_file
# from bokeh.embed import components
from bokeh.transform import cumsum
# from bokeh.resources import CDN
from bokeh.models import ColumnDataSource
from bokeh.palettes import Category20c
from bokeh.palettes import Spectral6

In [ ]:
hari

In [3]:
hari1 = hari.groupby("SUBJECT")["MODULE"].count()
hari2 = pd.Series(hari1).reset_index(name="noOfTasks")
hari2

          SUBJECT  noOfTasks
0         ANDROID          4
1      AWS LAMBDA         27
2          PYTHON          7
3  PYTHON 3.7,3.9          1
4           REACT          4
5    REACT NATIVE         60
6   VISUAL STUDIO          1

In [4]:
hari7 = hari2["SUBJECT"].tolist()
hari7

['ANDROID',
 'AWS LAMBDA',
 'PYTHON',
 'PYTHON 3.7,3.9',
 'REACT',
 'REACT NATIVE',
 'VISUAL STUDIO']

In [5]:
hari8 = hari2["noOfTasks"].tolist()
hari8

[4, 27, 7, 1, 4, 60, 1]

In [14]:
source = ColumnDataSource(data=dict(hari7 = hari7, hari8=hari8, color=Category20c[len(hari7)]))

hary = figure(x_range=hari7, width=500, height=300, toolbar_location=None,
            tools="hover", tooltips="@hari7 : @hari8 Tasks", title="noOfTasks by subject by harish")

hary.vbar(x="hari7", top="hari8", width=0.6, color="color",legend_field="hari7", source=source)

hary.grid.grid_line_alpha = 0

show(hary)

In [23]:
hari6 = hari.groupby("SUBJECT")["ACTUAL TIME"].sum()
hari9 = pd.Series(hari6).reset_index(name="Hours")
hari9["angle"] = hari9["Hours"] / hari9["Hours"].sum() *2*pi
hari9["color"] = Category20c[len(hari9)]
hari9

          SUBJECT  Hours     angle    color
0         ANDROID    7.0  0.144583  #3182bd
1      AWS LAMBDA   82.3  1.699889  #6baed6
2          PYTHON   21.0  0.433750  #9ecae1
3  PYTHON 3.7,3.9    2.0  0.041310  #c6dbef
4           REACT    9.0  0.185893  #e6550d
5    REACT NATIVE  180.9  3.736450  #fd8d3c
6   VISUAL STUDIO    2.0  0.041310  #fdae6b

In [25]:
hari10 = figure(height=350, toolbar_location=None, tools="hover", tooltips="@SUBJECT:@Hours", 
            title="pie chart on hours spend by HARISH")


hari10.wedge(x=1, y=0, radius=0.4, 
        start_angle=cumsum("angle", include_zero=True), end_angle=cumsum("angle"),
        line_color="white", fill_color="color",legend_field="SUBJECT", source=hari9)

hari10.grid.grid_line_alpha = 0

show(hari10)