In [2]:
import pandas_bokeh
import pandas
from bokeh.plotting import figure
data = pandas.read_excel("PROBLEM 1.xlsx", parse_dates=["START DATE"])
from bokeh.models import ColumnDataSource
from bokeh.palettes import Spectral6
from bokeh.plotting import figure, show, output_file

In [3]:
data

,TRAINEE,TASK ID,SUBJECT,MODULE,TOPIC NAME,TOPIC ID,START DATE,END DATE,NO OF TASKS
0,Naresh Chepuroju,NC2021102467,KAFKA,Consumer groups in kafka,Working with multiple consumer groups in kafka...,KF0009,24/10/2021,24/10/2021,1
1,Naresh Chepuroju,NC2021102668,KAFKA,Kafka with java and python,Creating producers and consumers in java and p...,KF0010,26/10/2021,26/10/2021,1
2,Naresh Chepuroju,NC2021102769,KAFKA,kafka with Node.js,Creating producers and consumers in Node.js,KF0011,27/10/2021,30/10/2021,1
3,Naresh Chepuroju,NC2021103170,MySql,Indroduction to MySql,"Creating Schemas,adding tables",MS0001,31/11/2021,31/11/2021,1
4,Giridhar Yerra,YG20211024,DATA ANALYTICS,Tableau,"Tableau Data Blending, Unions, Joins",DAT012,24/10/2021,24/10/2021,1
5,Giridhar Yerra,YG20211026,DATA ANALYTICS,Tableau,Tableau Exclude LOD,DAT013,26/10/2021,27/10/2021,1
6,Giridhar Yerra,YG2021102801,DATA ANALYTICS,Tableau,Practising Exercise(tableau methods),DAT014,28/10/2021,28/10/2021,1
7,Giridhar Yerra,YG2021102802,MySql,DLS,"create tables, columns, .........",MYSQL01,28/10/2021,28/10/2021,1
8,Giridhar Yerra,YG20211029,DATA ANALYTICS,Tableau,"small projects on calculated fields, joins",DAT015,29/10/2021,29/10/2021,1
9,Giridhar Yerra,YG2021103001,DATA ANALYTICS,Tableau,Documentation on Tableau,DAT016,30/10/2021,31/10/2021,1
10,Swapna Koyagura,SN2021102414,HTML&CSS,Responsive restaurent website,"Navbar Banner section, Why Choose Us Section,E...",HC00014,24/10/2021,27/10/2021,1
11,Swapna Koyagura,SN2021102801,MySql,create database,"create database,select statement,select clause...",MS0001,28/10/2021,28/10/2021,1
12,Swapna Koyagura,SN2021102902,MySql,operators,"AND,OR and NOR operators,the IN operator,betwe...",MS0002,29/10/2021,29/10/2021,1
13,Swapna Koyagura,SN2021103003,MySql,sql command categories,"SQL command categories,entity- relationship di...",MS0003,30/10/2021,31/10/2021,1
14,Mamatha Tekumatla,MT2021102462,ANGULAR,Http Client,"Http Client, fetching data using Http, Http er...",AG00006,24/10/2021,24/10/2021,1
15,Mamatha Tekumatla,MT2021102663,ANGULAR,Routing,"Routr parameters, paraMap observables, optiona...",AG00007,26/10/2021,26/10/2021,1
16,Mamatha Tekumatla,MT2021102764,ANGULAR,Routing,"Relative navigation, child routes, lazy loadin...",AG00008,27/10/2021,27/10/2021,1
17,Mamatha Tekumatla,MT2021102865,ANGULAR,Typescript,Basics of Typescript,AG00009,28/10/2021,28/10/2021,1
18,Mamatha Tekumatla,MT2021102966,ANGULAR,Typescript,"Understanding generics, classes and typescript...",AG00010,29/10/2021,29/10/2021,1
19,Mamatha Tekumatla,MT2021103067,ANGULAR,The Basics Angular,"Component, databinding, interpolation, propert...",AG00011,30/10/2021,30/10/2021,1
20,Mamatha Tekumatla,MT2021103168,ANGULAR,Course Project-The Basics,"Creating components, Adding navigation bar, cr...",AG00012,31/10/2021,31/10/2021,1
21,KORUKONDA HARISH,KH20211024,AWS LAMBDA,introduction to Aws,"severless computing, intro,getting started,lim...",AZL0001,24/10/2021,24/10/2021,1
22,KORUKONDA HARISH,KH20211026,AWS LAMBDA,writing lambda function,"Handling,context Object,Logging,exception.",AZL0002,26/10/2021,26/10/2021,1
23,KORUKONDA HARISH,KH20211027,AWS LAMBDA,packages and deploying,"Claudia,manually testing your function with th...",AZL0003,27/10/2021,27/10/2021,1
24,KORUKONDA HARISH,KH20211028,AWS LAMBDA,functions with mocha and chai,"testing functions with mocha and chai, using t...",AZL0004,28/10/2021,28/10/2021,1
25,KORUKONDA HARISH,KH20211029,AWS LAMBDA,severless test harness and lambda architecture,"test serverless test harness, lambda architect...",AZL0005,29/10/2021,29/10/2021,1
26,KORUKONDA HARISH,KH20211030,AWS LAMBDA,Mapping,"dynamoDB,s3,SNS",AZL0006,30/10/2021,30/10/2021,1
27,KORUKONDA HARISH,KH20211031,AWS LAMBDA,Creating Kinesis stream,"creating kinesis stream, cloud watchevents and...",AZL0007,31/10/2021,31/10/2021,1
28,Amulya Madupoju,AM20211026,HTML&CSS,Responsive Restaurant website,"explore menu section, why choose us section",HC0015,26/10/2021,29/10/2021,1
29,Amulya Madupoju,AM20211029,MySql,sql basics and Mysql,Sql Introduction,DB0001,29/10/2021,30/10/2021,1
30,Amulya Madupoju,AM20211030,MySql,Sql commands,"sql create tables,queries,keys",DB0002,31/10/2021,31/10/2021,1
31,valisetti suresh,VS20211024,KAFKA,"Installing Ubuntu in windows, running kafka in...","Installing Ubuntu in windows, running kafka in...",KF0004,24/10/2021,24/10/2021,1
32,valisetti suresh,VS20211026,KAFKA,"Starting zookeeper and kafka sever, creating t...","Starting zookeeper and kafka sever, creating t...",KF0005,26/10/2021,26/10/2021,1
33,valisetti suresh,VS20211027,KAFKA,"Understanding the kafka logs, creating multipl...","Understanding the kafka logs, creating multipl...",KF0006,27/10/2021,27/10/2021,1
34,valisetti suresh,VS20211028,KAFKA,"Topic with multiple partitions, kafka cluster ...","Topic with multiple partitions, kafka cluster ...",KF0007,28/10/2021,28/10/2021,1
35,valisetti suresh,VS20211029,KAFKA,Multiple Brokers and Topic with replication fa...,Multiple Brokers and Topic with replication fa...,KF0008,29/10/2021,29/10/2021,1
36,valisetti suresh,VS20211030,KAFKA,Working with multiple consumer groups in kafka...,Working with multiple consumer groups in kafka...,KF0009,30/10/2021,30/10/2021,1
37,valisetti suresh,VS20211031,KAFKA,Creating producers and consumers in java and p...,Creating producers and consumers in java and p...,KF0010,31/10/2021,31/10/2021,1
38,Vamshi Bhairoju,VS2021102307,HTML&CSS,Css Building Blocks,"Css Selectors & inheritance,Css specificity & ...",HC00007,23/10/2021,24/10/2021,1
39,Vamshi Bhairoju,VS2021102608,HTML&CSS,Responsive restaurent website,"Navbar Banner section, Why Choose Us Section,E...",HC00008,26/10/2021,29/10/2021,1
40,Vamshi Bhairoju,VS2021103001,MySql,sql basics and Mysql,Sql Introduction,DB00001,30/10/2021,2021-03-11 00:00:00,1
41,Vamshi Bhairoju,VS2021103102,MySql,Sql commands,"sql create tables,queries,keys",DB00002,31/10/2021,2021-02-11 00:00:00,1

In [4]:
data.head()

,TRAINEE,TASK ID,SUBJECT,MODULE,TOPIC NAME,TOPIC ID,START DATE,END DATE,NO OF TASKS
0,Naresh Chepuroju,NC2021102467,KAFKA,Consumer groups in kafka,Working with multiple consumer groups in kafka...,KF0009,24/10/2021,24/10/2021,1
1,Naresh Chepuroju,NC2021102668,KAFKA,Kafka with java and python,Creating producers and consumers in java and p...,KF0010,26/10/2021,26/10/2021,1
2,Naresh Chepuroju,NC2021102769,KAFKA,kafka with Node.js,Creating producers and consumers in Node.js,KF0011,27/10/2021,30/10/2021,1
3,Naresh Chepuroju,NC2021103170,MySql,Indroduction to MySql,"Creating Schemas,adding tables",MS0001,31/11/2021,31/11/2021,1
4,Giridhar Yerra,YG20211024,DATA ANALYTICS,Tableau,"Tableau Data Blending, Unions, Joins",DAT012,24/10/2021,24/10/2021,1

In [5]:
data.head().plot_bokeh.bar(x = "TRAINEE", y ="NO OF TASKS")

Figure(id='1038', ...)

In [6]:
filtered_data = data[data["SUBJECT"]=="MySql"]

In [7]:
filtered_data

,TRAINEE,TASK ID,SUBJECT,MODULE,TOPIC NAME,TOPIC ID,START DATE,END DATE,NO OF TASKS
3,Naresh Chepuroju,NC2021103170,MySql,Indroduction to MySql,"Creating Schemas,adding tables",MS0001,31/11/2021,31/11/2021,1
7,Giridhar Yerra,YG2021102802,MySql,DLS,"create tables, columns, .........",MYSQL01,28/10/2021,28/10/2021,1
11,Swapna Koyagura,SN2021102801,MySql,create database,"create database,select statement,select clause...",MS0001,28/10/2021,28/10/2021,1
12,Swapna Koyagura,SN2021102902,MySql,operators,"AND,OR and NOR operators,the IN operator,betwe...",MS0002,29/10/2021,29/10/2021,1
13,Swapna Koyagura,SN2021103003,MySql,sql command categories,"SQL command categories,entity- relationship di...",MS0003,30/10/2021,31/10/2021,1
29,Amulya Madupoju,AM20211029,MySql,sql basics and Mysql,Sql Introduction,DB0001,29/10/2021,30/10/2021,1
30,Amulya Madupoju,AM20211030,MySql,Sql commands,"sql create tables,queries,keys",DB0002,31/10/2021,31/10/2021,1
40,Vamshi Bhairoju,VS2021103001,MySql,sql basics and Mysql,Sql Introduction,DB00001,30/10/2021,2021-03-11 00:00:00,1
41,Vamshi Bhairoju,VS2021103102,MySql,Sql commands,"sql create tables,queries,keys",DB00002,31/10/2021,2021-02-11 00:00:00,1

In [8]:
names = filtered_data.TRAINEE.unique()
names1 = names.tolist()
names1

['Naresh Chepuroju',
 'Giridhar Yerra',
 'Swapna Koyagura',
 'Amulya Madupoju',
 'Vamshi Bhairoju']

In [9]:
noOfTasks = filtered_data.groupby(["TRAINEE"])["NO OF TASKS"].sum()
noOfTasks

TRAINEE
Amulya Madupoju     2
Giridhar Yerra      1
Naresh Chepuroju    1
Swapna Koyagura     3
Vamshi Bhairoju     2
Name: NO OF TASKS, dtype: int64

In [10]:
xnames=noOfTasks.index 
xnames.tolist()

['Amulya Madupoju',
 'Giridhar Yerra',
 'Naresh Chepuroju',
 'Swapna Koyagura',
 'Vamshi Bhairoju']

In [439]:
type(noOfTasks)

pandas.core.series.Series

In [410]:
output_file("Tasks.html")

In [475]:
# source = ColumnDataSource(data=dict(xnames=xnames.tolist(), noOfTasks=noOfTasks, color=Spectral6))
f = figure(x_range=xnames.tolist(), y_range=(0,5), height=350, title="MYSQL", toolbar_location=None, tools="")

In [476]:
f.vbar(x="noOfTasks.index", top="noOfTasks", width=0.9)

GlyphRenderer(id='15574', ...)

In [477]:
show(f)

ERROR:bokeh.core.validation.check:E-1001 (BAD_COLUMN_NAME): Glyph refers to nonexistent column name. This could either be due to a misspelling or typo, or due to an expected column being missing. : key "top" value "noOfTasks", key "x" value "noOfTasks.index" [renderer: GlyphRenderer(id='15574', ...)]

In [365]:
values = data.groupby(["SUBJECT"])["NO OF TASKS"].sum()
values

SUBJECT
ANGULAR            7
AWS LAMBDA         7
DATA ANALYTICS     5
HTML&CSS           4
KAFKA             10
MySql              9
Name: NO OF TASKS, dtype: int64

In [274]:
# p = figure(x_range=fruits, height=250, title="Fruit Counts by Year",
#            toolbar_location=None, tools="hover", tooltips="$name @fruits: @$name")

# p.vbar_stack(years, x='fruits', width=0.9, color=colors, source=data,
#              legend_label=years)

# source = ColumnDataSource(data=dict(names=names, noOfTasks=noOfTasks, color=Spectral6))

In [398]:
subjects = data.SUBJECT.unique()
subjects

array(['KAFKA', 'MySql', 'DATA ANALYTICS', 'HTML&CSS', 'ANGULAR',
       'AWS LAMBDA'], dtype=object)

In [394]:
f = figure(x_range=subjects, height=350, title="noOfTasks",
    toolbar_location=None, tooltips="$name @subjects: $@name")
source = ColumnDataSource(data=dict(subjects=subjects, values=values, color=Spectral6))

In [399]:
f.vbar_stack(subjects, x="values", width=0.9, color='color', source=source)

[GlyphRenderer(id='13365', ...),
 GlyphRenderer(id='13371', ...),
 GlyphRenderer(id='13377', ...),
 GlyphRenderer(id='13383', ...),
 GlyphRenderer(id='13389', ...),
 GlyphRenderer(id='13395', ...)]

In [400]:
show(f)